.heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
}

.button:not(:last-child) {
  margin-right: 12px;
}

.articles {
  margin-bottom: 24px;
}

.showMore {
  display: flex;
  justify-content: space-around;
}
